 .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
   background: linear-gradient(to right, #5c6bc0, #7e57c2);
  color: white;
}


.navbar-title {
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  font-family:cursive;
}


.navbar-links a {
  margin-left: 1.5rem;
  color: white;
  text-decoration: none;
  font-size: 1rem;
}


